In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [48]:
path = "ex1data2.txt"
data = pd.read_csv(path, header=None, names=["size", "num", "price"])
data.head()

   size  num   price
0  2104    3  399900
1  1600    3  329900
2  2400    3  369000
3  1416    2  232000
4  3000    4  539900

In [49]:
def normalize_feature(data):
    return data.apply(lambda column: (column - column.mean()) / column.std())

In [50]:
data = normalize_feature(data)
data.head()

       size       num     price
0  0.130010 -0.223675  0.475747
1 -0.504190 -0.223675 -0.084074
2  0.502476 -0.223675  0.228626
3 -0.735723 -1.537767 -0.867025
4  1.257476  1.090417  1.595389

In [51]:
def computeCost(X, y, theta):
    return np.sum(np.power((theta.T * X - y), 2)) / (len(X) * 2)

In [52]:
data.insert(0, "ones", 1)
data

    ones      size       num     price
0      1  0.130010 -0.223675  0.475747
1      1 -0.504190 -0.223675 -0.084074
2      1  0.502476 -0.223675  0.228626
3      1 -0.735723 -1.537767 -0.867025
4      1  1.257476  1.090417  1.595389
5      1 -0.019732  1.090417 -0.323998
6      1 -0.587240 -0.223675 -0.204036
7      1 -0.721881 -0.223675 -1.130948
8      1 -0.781023 -0.223675 -1.026973
9      1 -0.637573 -0.223675 -0.783051
10     1 -0.076357  1.090417 -0.803053
11     1 -0.000857 -0.223675  0.052682
12     1 -0.139273 -0.223675 -0.083283
13     1  3.117292  2.404508  2.874981
14     1 -0.921956 -0.223675 -0.643896
15     1  0.376643  1.090417  0.875619
16     1 -0.856523 -1.537767 -0.323998
17     1 -0.962223 -0.223675 -1.123743
18     1  0.765468  1.090417  1.276275
19     1  1.296484  1.090417  2.068039
20     1 -0.294048 -0.223675 -0.699878
21     1 -0.141790 -1.537767 -0.683083
22     1 -0.499157 -0.223675 -0.779852
23     1 -0.048673  1.090417 -0.643896
24     1  2.377392 -0.223675  1.867303
25     1 -1.133356 -0.223675 -0.723870
26     1 -0.682873 -0.223675  0.992382
27     1  0.661026 -0.223675  1.028370
28     1  0.250810 -0.223675  1.076355
29     1  0.800701 -0.223675 -0.323998
30     1 -0.203448 -1.537767  0.075875
31     1 -1.259189 -2.851859 -1.363666
32     1  0.049477  1.090417 -0.204036
33     1  1.429868 -0.223675  1.915287
34     1 -0.238682  1.090417 -0.435962
35     1 -0.709298 -0.223675 -0.723870
36     1 -0.958448 -0.223675 -0.883819
37     1  0.165243  1.090417  0.036687
38     1  2.786350  1.090417  1.668166
39     1  0.202993  1.090417 -0.427165
40     1 -0.423657 -1.537767  0.224627
41     1  0.298626 -0.223675 -0.084074
42     1  0.712618  1.090417 -0.211234
43     1 -1.007523 -0.223675 -0.331196
44     1 -1.445423 -1.537767 -1.283692
45     1 -0.187090  1.090417 -0.323998
46     1 -1.003748 -0.223675 -0.807044

In [53]:
cols = data.shape[1]
# print(data.shape[1])
X = data.iloc[:, :cols-1]
y = data.iloc[:, cols-1:cols]
theta = np.matrix(np.array(range(cols-1)))
theta

matrix([[0, 1, 2]])

In [54]:
alpha = 0.01
intes = 1000

In [55]:
computeCost(X, y,theta)

ValueError: Unable to coerce to DataFrame, shape must be (47, 3): given (3, 1)